.cart {
    @include flex(flex-start, flex-start);
    flex-direction: row-reverse;

    @include tablet {
        flex-wrap: wrap;
    }

    &_empty {
        @include flex(center, center);
        width: 100%;
    }

    &__list {
        width: 65%;

        @include tablet {
            width: 100%;
        }
    }

    &__info {
        padding: 20px;
        margin-left: 30px;
        margin-top: 0px;
        box-shadow: $box-shadow;
        position: sticky;
        top: calc(#{$header-shrink-height} + 20px);
        width: 35%;

        @include tablet {
            width: 100%;
            margin-left: 0;
            margin-bottom: 30px;
            position: unset;
        }

        &__txt {
            &>* {
                margin-bottom: 10px;
            }

            p {
                font-size: 1.25rem;
            }

            &__price {
                @include flex(center, space-between);
                padding: 10px 0;
                font-size: 1.25rem;

                span:nth-child(2) {
                    font-size: 2rem;
                    color: $main-color;
                    font-weight: 600;
                }
            }
        }

        &__btn {
            &>* {
                margin-bottom: 20px;
            }
        }

        &__item__quantity {
            @include flex(flex-start, flex-start);

            &__btn {
                @include flex(center, center);
                width: 30px;
                height: 30px;
                border: 2px solid $txt-second-color;
                font-size: 1.5rem;
                cursor: pointer;
            }

            &__input {
                @include flex(center, center);
                height: 30px;
                width: 60px;
                font-size: 1.3rem;
                border-top: 2px solid $txt-second-color;
                border-bottom: 2px solid $txt-second-color;
            }
        }
    }

    &__item {
        @include flex(center, flex-start);
        margin-bottom: 20px;

        &__image {
            // width: 10%;
            margin-right: 20px;
            width: 100px;

            img {
                height: 120px;
            }
        }

        &__info {
            @include flex(center, space-between);
            flex-grow: 1;

            @include mobile {
                @include flex(flex-start, center);
                flex-direction: column;

                &>* {
                    margin-bottom: 10px;
                }
            }

            &__name {
                width: 40%;

                @include mobile {
                    width: 100%;
                }
            }

            &__name,
            &__price {
                font-size: 1.25rem;
            }
        }

        &__del {
            font-size: 2rem;
            color: rgb(255, 23, 23);

            i {
                cursor: pointer;

                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}